<header class="header">
    <img src="/icons/HR_Manager1.png" alt="HR Manager" class="header-logo">
    <span id="mensaje-usuario">Cargando datos...</span>
    <div class="profile-container">
        <img id="profile-icon" class="profile-icon" src="/icons/user.png" alt="perfil">
        <div id="profile-dropdown" class="profile-dropdown">
            <p id="dropdown-email"></p>
            <a href="../perfil.html">Mi perfil</a>
            <a href="../cambiarPassword.html">Cambiar contraseña</a>
            <a href="#" id="logout-link">Cerrar sesión</a>
        </div>
    </div>
</header>